* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(45, 50, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 35px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    overflow: hidden;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

body {
    background: rgb(249, 247, 247);
    width: 89rem;
}

.bckgrnd {
  background-color: #3586ff;
  width: 89rem;
  height: 500px;
  display: inline-block;
  padding: 85px 90px;
  padding-top: 120px;
  color: white;
}


/*********Isi Pengertian Konten*************/

.border {
  background-color:white;
  margin-left: 80px;
  border-radius: 10px;
  width: 70rem;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5rem;
  padding: 20px;
  color: rgb(17, 45, 78);
}

.border h2 {
  padding-top: 2px;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: solid 2px #0a0707;
  height: 50px;
  line-height: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.border h3{
  padding-top:5px ;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.border p {
  font-size: 1.1rem;
  padding-top: 5px;
  text-align: justify;
  font-family: cursive;
}
.border h4{
  font-size: 1.3rem;
  padding-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gambar {
  padding-left: 40%;

}


/************About Us*****************/
.boxabtus {
  background-color: rgb(249, 247, 247);
  width: 89rem;
  height: 500px;
  display: inline-block;
  padding: 85px 90px;
  padding-top: 120px;
  color: rgb(17, 45, 78);
}

.boxabtus p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxabtus h1{
  font-size: 55px;
  margin-top: 5rem;
}
.boxabtus h3{
  margin-top: 10px;
}

/****Contact*****/
.boxcontact {
  background-color: rgb(249, 247, 247);
  width: 89rem;
  height: 500px;
  display: inline-block;
  padding: 85px 90px;
  padding-top: 120px;
  color: rgb(17, 45, 78);
}

.boxcontact p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.boxcontact h1{
  font-size: 55px;
  margin-top: 5rem;
}
.boxcontact h3{
  margin-top: 10px;
}

/*Main1*/
.box1 {
  background-color: #3586ff;
  width: 89rem;
  height: 500px;
  display: inline-block;
  padding: 85px 90px;
  padding-top: 120px;
  color: white;
  
}

.box1 p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box1 h1{
  font-size: 55px;
  margin-top: 5rem;
}
.judul {
    padding-top: 80px;
    text-align: center;
    color: rgb(17, 45, 78);
    
}

.desc {
    padding-top: 0px;
    color: rgb(17, 45, 78);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.gs {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
}

.h1 {
  margin-top: 3rem;
}

/*Main2*/

.aside1{
    background-color: white;
    width: 400px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    
    text-align: center;
    margin-left: 90px;
    position: absolute;
    display: inline-block;
}
.aside1 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contactaside1{
  background-color: white;
  width: 400px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  
  text-align: center;
  margin-left: 3%px;
  position: absolute;
  display: inline-block;
}

.box {
    background-color:white;
    margin: 600px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    position:absolute;
    padding: 15px;
    width: 400px;
   margin-left: 37%;
   text-align: center;
   justify-content: center;
   align-items: center;
  }
  .box p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .contactbox {
    background-color:white;
    margin: 600px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    position:absolute;
    padding: 15px;
    width: 400px;
   margin-left: 32%;
   text-align: center;
   justify-content: center;
   align-items: center;
  }

.aside2{
    background-color: white;
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    padding: 15px;
   margin-left: 68%;
    display: inline-block;     
}

.aside2 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contactaside2{
  background-color: white;
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  padding: 15px;
 margin-left: 63%;
  display: inline-block;     
}

.image {
    height: 100px;
    border-radius: 10px;
}

.button {
    background-color: rgb(238, 245, 255);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  .button1 {
    background-color: rgb(45, 50, 80); 
    color: white; 
    border: 2px solid rgb(45, 50, 80);
  }
  
  .button1:hover {
    background-color: whitesmoke;
    color: black;
  }

   /*Body Flip card*/
  .body2 {
    color: whitesmoke;
    background-color:#3586ff;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 400px;
    text-align: center;
    padding-top: 70px;
    font-size: 3rem;
    
  }

  h2 span {
    color: rgb(15, 16, 53)
  }

  .body3 {
    background-color: #3586ff;
    width: 89rem;
    height: 50rem;
    display: flex;
    padding: 85px 90px;
    padding-top: 30px;
    color: white;
    margin:auto;
    margin-top: -30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
}


/* Flip Back */
  .card {
    position: relative;
    width: 200px;
    height: 280px;
    margin: 45px;
    margin-top: 60px;
    padding-top: 10px;
  
  }
  
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    background: rgb(238, 245, 255);
  }
  
  .card .front {
    transform: perspective(660px) rotateY(0deg);
    box-shadow: 3px 5px 10px #000;
  }
  
  .card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
  }
  
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(12, 53, 106);
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  
  .card .back .link a{
    color: #f3f3f3;
  }
  
  .card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  
  }
  
  .card .back p{
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
  }
  
  .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
  }


  /*FOOTER*/
  .footer {
    background-color:  rgb(249, 247, 247);
    min-height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -4rem;
  }
  
  .footer1 {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .footer .social-icon li {
    list-style: none;
  }
  
  .footer .social-icon li a
  {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transform: 0.5s;
  }
  
  .footer .social-icon li a:hover {
    transform: translateY(-10px);
  }

  
  .footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px ;
    font-size: 1.2rem;
  }

  /*Animasi Footer*/
  .footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(wave.png);
    background-size: 1000px 100px;
  }
  
  .footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  
  .footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  
  .footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }
  
  .footer .wave#wave4 {
    z-index: 999;
    opacity:0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
  
  @keyframes animateWave {
    0%{
      background-position-x: 1000px ;
    }
    100%{
      background-position-x: 0px;
    }
  }
  
  @keyframes animateWave_02 {
    0%{
      background-position-x: 0px ;
    }
    100%{
      background-position-x: 1000px;
    }
  }


  /*Responsive*/
  @media (min-width:40rem) and (max-width: 89rem){
    body {
      background-color: rgb(238, 245, 255);

      width: fit-content;
    }
    
    .bckgrnd {
      width: auto;
    }
    .border {
      width: 100%;
      font-size: 14wpx;
      margin-left: 1px;
      text-align: justify;
      height: fit-content;
    }
    .border h2 {
      font-size: 2rem;
    }
    .border h3 {
      font-size: 1.7rem;
      padding-left: 2px;
    }
    .border p {
      text-indent: 25px;
    }
   

    .body2{
      width: 100%;
      text-align: center;
      margin-top: 400px;
      
    }
    .box1 {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      height: fit-content;
    }

    .boxabtus {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      height: fit-content;
    }
    .boxabtus h1{
      font-size: 49px;
      margin-top: 10rem;
    }
    .boxabtus p{
      font-size: 20px;
    }

    .box1 h1{
      font-size: 49px;
      margin-top: 10rem;
    }
    .box1 p{
      font-size: 20px;
    }
    .body3{
      width: fit-content;
      margin-top: 0;
      height: fit-content;
    }
    
    .aside1{
      width: 30%;
      position: absolute;
      margin-left: 2%;
    }
    .box{
      width: 30%;
      position: absolute;
      margin-left: 35%;
    }

    .aside2{
      width: 30%;
      position:absolute;
      margin-left: 68%;
    }

    /*Contact*/
    .boxcontact {
      width: fit-content;
      text-align: center;
      font-size: 1rem;
      height: fit-content;
    }
    .boxcontact h1{
      font-size: 49px;
      margin-top: 10rem;
    }
    .boxcontact p{
      font-size: 20px;
    }
    .contactaside1{
      width: 30%;
      position: absolute;
      margin-left: -48%;
      
    }
    .contactbox{
      width: 30%;
      position: absolute;
      margin-left: -15%;
    }

    .contactaside2{
      width: 30%;
      position:absolute;
      margin-left: 18%;
    }

    /***card***/
    .card {
      width: 200px;
      height: 250px;
      margin-left: 0;
    }
    .face {
      width: 200px;
      height: 250px;
      font-size: small;
    }
     .back{
      width: 200px;
      height: 250px;
    }
  }

  